<form class="layui-form" action="{:url("mycms/table/edittable")}" method="post">
<div class="layui-tab-item layui-show">
    <div class="layui-form-item">
        <label class="layui-form-label">表单标题</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input field-title" value="{:isset($data.title)?$data.title:''}" name="title" lay-verify="required" autocomplete="off" placeholder="请输入表单标题">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">表单名称</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input field-name" name="name" value="{:isset($data.name)?$data.name:''}" lay-verify="required" autocomplete="off" placeholder="请输入表单名称">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">表单备注</label>
        <div class="layui-input-inline">
            <textarea  class="layui-textarea field-remark" name="remark" id="form-remark"  lay-verify="" autocomplete="off" placeholder="[选填]表单备注"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">模型外键</label>
        <div class="layui-input-block" id="mid-class">
            {form:select name="mid" list="$midMenu" value="$data['mid']" option="['lay-verif'=>'required']"}
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">模型标签</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input field-tags" name="tags" value="{:isset($data.tags)?$data.tags:''}" lay-verify="required" autocomplete="off" placeholder="请输入模型标签">
        </div>
    </div>

    <!--单选radio-->
    <div class="layui-form-item">
        <label class="layui-form-label">表单状态</label>
        <div class="layui-input-block">
            {form:radio name="status" list="['0'=>'禁用','1'=>'启用']" value="$data['status']"}
        </div>
        <div class="layui-form-mid layui-word-aux">选择表单状态</div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">系统菜单id</label>
        <div class="layui-input-block" id="parent-class">
            {form:select name="smid" list="$menu" value="$data['smid']" option="['lay-verif'=>'required']"}
        </div>
    </div>
</div>

<div class="layui-form-item">
    <div class="layui-input-block">
        <input type="hidden" class="field-id" name="tid" value="{:isset($data.tid)?$data.tid:''}">
        <button type="submit" class="layui-btn layui-btn-normal" lay-submit="" lay-filter="formSubmit">提交</button>
        <a href="{:url('table/tableList')}" class="layui-btn layui-btn-primary ml10"><i class="aicon ai-fanhui"></i>返回</a>
    </div>
</div>
</form>
{include file="block/layui" /}
<script>
var formData = {:json_encode($formData)};
layui.use(['form'], function() {
    var $ = layui.jquery, form = layui.form;

    $("#form-remark").val("{:isset($data.remark)?$data.remark:''}");
});
</script>