


<!--保存结果输出-->
<div class="layui-card">
    <div class="layui-card-header">html输出</div>
    <div class="layui-card-body layui-text">
        <blockquote class="layui-elem-quote layui-quote-nm">
            <pre id="htmlResult"><span class="layui-word-aux">{$tplHtml}</span></pre>
        </blockquote>
    </div>
</div>
<div class="layui-card">
    <div class="layui-card-header">php输出</div>
    <div class="layui-card-body layui-text">
        <blockquote class="layui-elem-quote layui-quote-nm">
            <pre id="phpResult"><span class="layui-word-aux">{$tplPhp}</span></pre>
        </blockquote>
    </div>
</div>
{include file="block/layui" /}

<script type="text/javascript">
    layui.use(['form','layer','table','laytpl'], function() {
        var table = layui.table,
            form = layui.form,
            layer = layui.layer,
            $ = layui.jquery,
            laytpl = layui.laytpl,
            dataTableId = "dataTableId";
    });
</script>